Form-Encoded Body Parameter

Hi

While reading the source to your app I noticed, that your OAuth 2 authorisation with the bearer token makes use of form-encoded body parameters. Looking at the [RFC 6750 section 2](https://tools.ietf.org/html/rfc6750#section-2.2) it states that a clients should make authenticated requests with a bearer token using the "Authorization" request header field with the "Bearer" HTTP authorization scheme. And that when instead using form-encoded body parameters the content to be encoded in the entity-body must consist entirely of ASCII characters. Your app mostly uses form-encoded body parameters. Unfortunately the Alamofire framework uses UTF-8 in form-encoded bodies, see [line 66ff ParameterEncoding](https://github.com/Alamofire/Alamofire/blob/master/Source/ParameterEncoding.swift). 

To make this short. Is there a special reason why you are using form-encoded body parameters vs. request header field? And if not, would you accept a pull request changing from body parameter to request header field?



Thank for feedback, leave me time to watch

I rework the wallabagApi class, in next release the token will sent in the authorization header

this change will be available in next release